<p id="notice"><%= notice %></p>

<p>  
  <h2><%= @user.username %></h2>
</p>

<p>
  <%= "Has made #{pluralize(@user.ratings.count, 'rating')}" %>
</p>

<p>
  <h3>ratings</h3>
</p>

<p>
	<% @user.ratings.each do |rating| %>
	<li>
		<%= rating.to_s %>
		<%= link_to 'delete', rating_path(rating.id), method: :delete, data: { confirm: 'Are you sure?' } %>
	</li>
	<% end %>

</p>