<p>  
	<h2><%= @user.username %></h2>
</p>

<p>
	<%= "Has made #{pluralize(@user.ratings.count, 'rating')}" %>
</p>

<% if @user.beer_clubs.any? %> 
<p>
	Member of <% @user.beer_clubs.each do |club| %>
	<%= link_to club.name, beer_club_path(club.id) %>
	<% end %>
</p>
<%end%>

<p>
	<h3>ratings</h3>
</p>

<p>
	<ul>
		<% @user.ratings.each do |rating| %>
		<li>
			<%= rating.to_s %>
			<% if @user == current_user %>
			<%= link_to 'delete', rating_path(rating.id), :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</li>
		<% end %>
	</ul>
</p>

<% if @user.favorite_style %>
	<p>
		favorite style: <%= @user.favorite_style %>
	</p>
<% end %>

<% if @user.favorite_brewery %>
	<p>
		favorite brewery: <%= @user.favorite_brewery %>
	</p>
<% end %>

<p>
	<% if !current_user.nil? && @user == current_user %>
		<%= link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning" %>
        <%= link_to 'Destroy', @user, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>

</p>
 